[run]
source = src
omit =
    */__pycache__/*
    */tests/*
    */venv/*
    */migrations/*
    src/main.py
    src/ui/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError

fail_under = 30
